@model IEnumerable<FairFunds.Models.Expenditure>

@{
	ViewData["Title"] = "Expenditure";
	var users = (List<CustomUser>)(ViewData["Users"]); 

	double total = Model.Sum(e => e.Amount);
	double avg = total / users.Count();
}

<div class="container">
	<h1 class="mb-4">Expenditure</h1>
	<div class="row">
		<div class="col-2 mt-2">
			<a class="btn btn-dark" type="submit" asp-action="AddExpenditure">New</a>
		</div>
		<div class="col-10">
			<table class="table">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Title)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Date)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Amount)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Category) 
						</th>
						<th>
							@Html.DisplayNameFor(model => model.CustomUser)
						</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Title) 
							</td>
							<td>@Html.DisplayFor(modelItem => item.Date)</td>
							<td>@Html.DisplayFor(modelItem => item.Amount)</td>
							@if (item.Category == null)
							{
								<td>
									<a asp-action="UpdateExpenditure" asp-route-id="@item.ExpenditureID">Sélectionnez une catégorie</a> | 
								</td> 
							}
							else
							{
								<td>@Html.DisplayFor(modelItem => item.Category.Name)</td> 

							}
							<td>@Html.DisplayFor(modelItem => item.CustomUser.FirstName)</td>

							@* 							<td>
						<a asp-action="Edit" asp-route-id="@item.ExpenditureID">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.ExpenditureID">Details</a> |
						<a asp-action="DeleteExpenditure" asp-route-id="@item.ExpenditureID">Delete</a> 
						</td>
						*@
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@foreach (var user in users) 
{
	double userTotal = Model.Where(e => e.CustomUser.FirstName == user.FirstName).Sum(e => e.Amount);
	if (userTotal > avg) 
	{
		<p>Le groupe doit @(userTotal - avg) € à @user.FirstName</p>
	}
	else
	{
		<p>@user.FirstName doit @(avg - userTotal) € au groupe</p> 
	}
} 
